<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>

    <!-- CSS only -->
    <link href="http://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <script src="http://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>
    <link rel="stylesheet" href="./expense.css">
</head>

<body background="/bg.jpg" style="background-repeat: no-repeat; background-size: cover;">

    <div class="main_container">
        <div class="data_container" style="display: block;">
          <!-- expense div -->
            <div style="text-align: center; margin-bottom: 20px;"><h1>Expenses</h1></div>

           <!-- expense table  -->
          <div class ="expense_table" style="overflow:auto;">
            <table class="table table-hover" >
                <thead>
                  <tr>
                    <th scope="col">Category</th>
                    <th scope="col">Description</th>
                    <th scope="col" style="text-align: right;">Amount</th>
                    <th scope="col" style="text-align: center;">Edit/Delete</th>
                  </tr>
                </thead>
                <tbody id="display" >
         
                </tbody>
              </table>
          </div> 
              
              <nav aria-label="Page navigation example" style="margin-top: 15px;">
                <ul class="pagination justify-content-center" id="paginationUl">

                  <li class="page-item" onclick="activeLink(1)" value="1"><a class="page-link active " href="#" >1</a></li>                                                  

                  </li>
                </ul>
              </nav> 

              <div style="display: flex;justify-content: center;">
                <span>Rows per page</span>
                <select class="form-select-md ms-2" aria-label="Default select example" style="width: 65px;" id="select">
                  <option value="5" onclick="rowsInPage(5)">5</option>
                  <option value="10" onclick="rowsInPage(10)">10</option>
                  <option value="25" onclick="rowsInPage(25)">25</option>
                  <option value="50" onclick="rowsInPage(50)">50</option>
                  <option value="100" onclick="rowsInPage(100)">100</option>
                </select>
              </div>
            

        </div>
       
        <!-- leaderboard div -->
        <div class="leaderboard" style="display: none;">
            <div style="text-align: center; margin-bottom: 20px;"><h1>Leaderboard</h1></div>

            <table class="table table-hover" >
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Total</th>
                  </tr>
                </thead>
                <tbody id="ldrboard_table" >
         
                </tbody>
              </table>

            
 
        </div>


     <!-- expense entry container    -->
    <div class="add_expense_container flex-column  bg-light" >

        <!-- buy premium button -->
        <div id ='premium_div' style="display: flex; flex-direction:column; align-items: flex-end;" >
          <button class="btn btn-primary btn-sm" id="rzp-button1" style="visibility: visible;font-weight: 600;" >Buy premium membership</button>
          <script src="http://checkout.razorpay.com/v1/checkout.js"></script>

          <p id="premium" style="visibility: hidden;font-weight: 510; font-size: large;"><img src="./premium.png" style="width: 20px;height: 20px;margin-bottom: 6px;"> Premium user  </p>
        </div>

        <form class="a  d-flex flex-column " method="POST">
           
                <!--  input should be before the label -->
                <div class="form-floating w-50 align-self-center mb-4 mt-4">
                    <input class="form-control " type="number" id="amt" placeholder="Enter amount" required>
                    <label class="form-label">Enter amount</label>
                </div>
                

                <div class="form-floating w-50 align-self-center mb-4">
                    <input class="form-control" type="text" id="desc" placeholder="Choose description" required>
                    <label class="form-label">Choose description</label>
                </div>
                

                <label class="form-label align-self-center">Choose Category</label>
                <select class="form-select w-50 align-self-center" id="category" required>
                  <option id="food" selected>Food</option>
                  <option id="clothes">Clothes</option>
                  <option id="personal_care">Personal care</option>
                  <option id="healthcare">Healthcare</option>
                  <option id="vacation">Vacation</option>
                  <option id="utilities">Utilities</option>
                  <option id="insurance">Insurance</option>
                  <option id="transportation">Transportation</option>
                  <option id="miscellaneous">Miscellaneous</option>
              </select>

               <button class="btn btn-secondary w-25 align-self-center mb-4 mt-3" type="submit" id="submit">add expense</button><br>
        </form>
 
        <div id="premium_features" style="padding: 10px; height: 100px; display: flex; flex-direction: column; justify-content: space-evenly;">
          <button class="btn btn-secondary btn-sm w-50" id="ldrboard" style="visibility: hidden;font-weight: 600;align-self: center;">&nbsp;&nbsp;&nbsp;Leaderboard&nbsp;&nbsp;&nbsp;</button>
          <button class="btn btn-secondary btn-sm w-50" id="download" style="visibility:hidden;font-weight: 600;align-self: center;">Download report</button>
        </div>
    </div>
</div>
</body>

<script src="./expense.js"></script>


</html>